<div class="jumbotron container-fluid">

<%= form_with model: @blog, local: true do |form| %>
 
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@blog.errors.count, "error") %> prohibited
        this blog from being saved:
      </h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <table class="table">
    <tr>
      <th><%= form.label :name %></th>
      <th><%= form.text_field :name, id: 'name' %></th>
    </tr>
    <tr>
      <th><%= form.label :description %></th>
      <th><%= form.text_field :description, id: 'description' %></th>
    </tr>
    <tr>
      <th><%= form.label :profile %></th>
      <th><%= form.file_field :profile, id: 'profile'  %></th>
    </tr>
    <tr>
      <th><%= form.label :header %></th>
      <th><%= form.file_field :header, id: 'header' %></th>
    </tr>
  </table> 

  <div class="actions float-right">
    <%= form.submit "✔ Create Bloggo", class: "btn btn-primary", id: 'createBloggo'%>
  </div>
 
<% end %>

</div>