<div class="jumbotron">

<%= form_with model: @blog, local: true do |form| %>
 
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@blog.errors.count, "error") %> prohibited
        this blog from being saved:
      </h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
 
  <div class="form-group">
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>
 
  <div class="form-group">
    <%= form.submit :class => 'btn btn-info' %>
  </div>
 
<% end %>

</div>