<div class="jumbotron container-fluid">

<%= form_with model: @blog, local: true do |form| %>
 
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@blog.errors.count, "error") %> prohibited
        this blog from being saved:
      </h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
 
  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :profile %><br>
    <%= form.file_field :profile %><br>
  </div>
  <div class="field">
    <%= form.label :header %><br>
    <%= form.file_field :header %><br>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
 
<% end %>

</div>