<div class="jumbotron">

  <h1>Hello, Bloggoer!</h1>

    <% if @blogs != nil && @blogs.count != 0%>
      <table class="table">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col" colspan="3"></th>
          <th></th>
        </tr>
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.name %></td>
          <td><%= blog.description %></td>
          <td>di <%= link_to blog.user.email, user_path(blog.user) %></td>
          <td><%= link_to 'Show', blog_path(blog) %></td>
          <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
          <td><%= link_to 'Destroy', blog_path(blog),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% else %>
      <h3> No blogs found! </h3>
    <% end %>
  </table>
  <% if user_signed_in? %>
    <%= link_to 'New Bloggo', new_blog_path, class: "btn btn-info" %>
  <% else %>
    <h5> Login to create a new Bloggo! </h5>
  <% end %>
</div>
