	<div class="jumbotron header_background" style="margin-top: 20px;">
		<div class="jumbotron transbox" style="margin-top: 20px;">

		<%= image_tag (@blog.profile.url.to_s) , class: "ext-center rounded mx-auto d-block", size: "300x300", alt: "Profile Pic"%>
		<h1 class="text-center"><%= @blog.name %></h1>

		<div class="row" style="margin-top: 80px; margin-left: 300px; margin-right: 300px;">
    	<div class="col-sm text-center">
      	<h3> Followers</h3>
      	<h6> <%= @blog.followers_count%> </h6>
    	</div>
    	<div class="col-sm text-center">
      	<h3> Posts</h3>
      	<h6> <%= @posts.count %></h6>
    	</div>
    	<div class="col-sm text-center">
      	<h3> Visits</h3>
      	<h6> <%= "#{@blog.impressionist_count}" %> </h6>

    	</div>
  	</div>

  	<% if user_signed_in? %>
  			<% if current_user.id == @blog.user_id %>
					<%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-warning", style: "margin-top: 50px; margin-bottom: -50px;"%> 
					<%= link_to 'Create Postoes', new_blog_post_path(@blog), class: "btn btn-warning", style: "margin-top: 50px; margin-bottom: -50px;" %> 
					<%= link_to 'Add new editor', "#editorModal", "data-toggle" => "modal", class: "btn btn-warning", style: "margin-top: 50px; margin-bottom: -50px;"%> 
				<% else %>
	  			<% if current_user.id == @blog.editors %>
						<%= link_to 'Create Postoes', new_blog_post_path(@blog), class: "btn btn-warning", style: "margin-top: 50px; margin-bottom: -50px;" %> 
					<% else %>
				  	<% if current_user.following?(@blog) %>
							<%= link_to 'Unfollow', unfollow_path(@blog), class: "btn btn-warning", style: "margin-top: 50px; margin-bottom: -50px;"%> 
						<% else %>
							<%= link_to 'Follow', follow_path(@blog), class: "btn btn-warning", style: "margin-top: 50px; margin-bottom: -50px;"%> 
						<% end %>
						<% if current_user.favorited?(@blog) %>
							<%= link_to 'Delete from Favourite Blogs', unfavourite_path(@blog), class: "btn btn-warning float-right", style: "margin-top: 50px; margin-bottom: -50px;"%>
						<% else %> 
							<%= link_to 'Add to Favourite Blogs', favourite_path(@blog), class: "btn btn-warning float-right", style: "margin-top: 50px; margin-bottom: -50px;"%>	
						<% end %>			
					<% end %>
				<% end %>
		<% else %>
				<%= link_to 'Sign in to follow', "#loginModal", "data-toggle" => "modal" , class: "btn btn-warning", style: "margin-top: 50px; margin-bottom: -50px;"%> 
		<% end %>
	</div>
</div>
<div class="container">

	<h6><%= @blog.description %></h6>
  <div class="dropdown float-right" style="margin-top: 120px;">
	  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> <%= @filter %>
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    <li><%= link_to "Most Recent", recent_view_path %></li>
		    <li><%= link_to "Most Visited", visited_view_path %></li>
		    <li><%= link_to "Most Reacted", reacted_view_path %></li>
			  </ul>
	</div> 
	<div class="row">
		<div class="col-sm">
			<div class="jumbotron">
      	<h3 class="text-center"> <%= @filter %> </h3>
      		<%= render @shown_posts %>
    	</div>
    </div>

  </div>
</div>


<div class="modal" id="editorModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Editors</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "blogs/editors" %>
      </div>
    </div>
  </div>
</div>

<style>
 .header_background{
 	background-image: url(<%= @blog.header.url.to_s %>);
 }

 .transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.9;
}
</style>
