<div class="container">
	<div class="jumbotron" style="margin-top: 20px;">

		<img src="<%= asset_path('blog_profile_example.jpg') %>" class="text-center rounded mx-auto d-block" style="margin-top: 50px;" alt="Bloggo Profile Pic Example"> 
		<h1 class="text-center"><%= @blog.name %></h1>

		<div class="row" style="margin-top: 80px; margin-left: 300px; margin-right: 300px;">
    	<div class="col-sm text-center">
      	<h3> Followers</h3>
      	<h6> 1M</h6>
    	</div>
    	<div class="col-sm text-center">
      	<h3> Posts</h3>
      	<h6> <%= @posts.count %></h6>
    	</div>
    	<div class="col-sm text-center">
      	<h3> Visits</h3>
      	<h6> <%= "#{@blog.impressionist_count} views so far!" %> </h6>
    	</div>
  	</div>
		<%= link_to 'Subscribe', edit_blog_path(@blog), class: "btn btn-warning", style: "margin-top: 50px; margin-bottom: -50px;"%> 
		<!-- qua ci va la funzione subscribe --> 
	</div>
	<h3><%= @blog.description %></h3>

  <div class="dropdown float-right" style="margin-top: 120px;">
	  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> <%= @filter %>
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    <li><%= link_to "Most Recent", recent_view_path %></li>
		    <li><%= link_to "Most Visited", visited_view_path %></li>
		    <li><%= link_to "Most Reacted -not working-", visited_view_path %></li>
			  </ul>
	</div> 
	<div class="row">
		<div class="col-sm">
			<div class="jumbotron">
      	<h3 class="text-center"> <%= @filter %> </h3>
      		<%= render @shown_posts %>
    	</div>
    </div>

  </div>


		<%= link_to 'Edit Blog', edit_blog_path(@blog), class: "btn btn-warning" %>  
		<%= link_to 'Back to Bloggoes', blogs_path, class: "btn btn-dark" %>  
		<%= link_to 'New Post', new_blog_post_path(@blog), class: "btn btn-info" %>

</div>