<%= form_with model: [ @post.blog, @post, @comment ], local: true do |form| %>
  <% if @comment.parent.nil? %>
    <h1>New Comment</h1>
  <% end %>

  <%= form.hidden_field :parent_id %>

  <% if @comment.errors.any? %>
      <script>
        $(document).ready(function(){$('#errorCommentModal').modal();});
      </script>
    <% end %>

    <!-- Modal -->
    <div class="modal fade" id="errorCommentModal" tabindex="-1" role="dialog" aria-labelledby="errorCommentModalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="errorCommentModalTitle">Error</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="error_explanation">
              <h2>
                <%= pluralize(@comment.errors.count, "error") %> errors found:
              </h2>
              <ul>
                <% @comment.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>

    <table width="100%">
      <% if !@comment.parent.nil? %>
      <tr>
        <td>
          <div class="card">
            <div class="card-body">
              <div class="card-title"> You're answering to <strong><% if @comment.parent.user.username %><%= @comment.parent.user.username %><% else %><%= @comment.parent.user.name %><% end %></strong></div>
              <div class="comment-form-parent-content">
                <%= @comment.parent.content %>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
      <tr>
        <td>
          <div class="form-group">
            <%= form.label :content %><br>
            <%= form.text_area :content, class: 'comment-form-content' %>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="form-group">
            <% if !@comment.parent.nil? %>
              <%= button_tag(type: 'submit', class: "btn btn-primary btn-sm") do %><i class='fas fa-reply'></i> Reply<% end %>
            <% else %>
              <%= button_tag(type: 'submit', class: "btn btn-primary btn-sm") do %><i class="fas fa-share-square"></i> Comment<% end %>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
<% end %>