<div class="container">	
	<div class="jumbotron" style="margin-top: 20px;">

		<img src="<%= asset_path('blog_profile_example.jpg') %>" class="text-center rounded mx-auto d-block" style="margin-top: 50px;" alt="Bloggo Profile Pic Example"> 
		<h1 class="text-center"><%= @user.email %></h1>

		<div class="row" style="margin-top: 80px; margin-left: 300px; margin-right: 300px;">
    	<div class="col-sm text-center">
      	<h3> Blogs</h3>
      	<h6> <%= @blog.count %></h6>
    	</div>
  	</div>
	</div>

	<div class="row" style="margin-top: 120px;">
		<div class=".col-md-4">
			<div class="jumbotron" >
      	<h3 class="text-center" style="margin-bottom: 20px;"> Favorite Bloggoes</h3>
	      	<div class="jumbotron" style="background: white">
  	      	<% @blog.last(5).each do |blog| %>
  	      		<h3 class="text-center"> <%= link_to blog.name, blog_path(blog)%> </h3>
  	     		 	<h6 class="text-center" style="margin-bottom: 25px"> <%= blog.description %> </h6>
	        	<% end %>
    	    </div>
    	</div>
    </div>
		<div class=".col-md-4">
			<div class="jumbotron text-center">
      	<h3 class="text-center" style="margin-bottom: 20px;"> Favourite Postoes</h3>
  	      <% @blog.last(5).each do |blog| %>
      	<div class="jumbotron" style="background: white">
  	      <h3 class="text-center" style: "color: black"> <%= link_to blog.name, blog_path(blog)%> </h3>
  	      <h6 class="text-center" style: "color: black"> <%= blog.description %> </h6>
  	    </div>
	        <% end %>
    	</div>
    </div>
		<div class=".col-md-4">
			<div class="jumbotron text-center">
      	<h3 class="text-center" style="margin-bottom: 20px;"> Notification</h3>
  	      <% @blog.last(5).each do |blog| %>
      	<div class="jumbotron" style="background: white">
  	      <h3 class="text-center" style: "color: black"> <%= link_to blog.name, blog_path(blog)%> </h3>
  	      <h6 class="text-center" style: "color: black"> <%= blog.description %> </h6>
  	    </div>
	        <% end %>
    	</div>
    </div>
  </div>
</div>