<!-- <link rel="stylesheet" href="styles.scss"> -->
<div class="container-fluid" style="margin-top:10px; margin-bottom:10px;">
  <div class="row">
    <div class="col-sm-6">
    	<div class="jumbotron" style="margin-top: 20px;">

    		<img class="mx-auto d-block" style="border-radius:60%; width:200px; height:200px; object-fit:cover; margin-top: 50px;" alt="User Profile Pic Example"
    		 src="<% if @user.avatar_image? %>
    						<%= @user.avatar_image %>
    					<% else %>
    						<%= asset_path('user-placeholder.jpeg') %>
    					<% end %>" />
    		<!-- <img src="<%= asset_path('blog_profile_example.jpg') %>" class="text-center rounded mx-auto d-block" style="margin-top: 50px;" alt="Bloggo Profile Pic Example"> -->
    		<h1 class="text-center" style="margin-top: 15px"> <%= @user.username %></h1>

    		<div class="row text-center">
        	<div class="col-sm-12 text-center">
          	<h3> Blogs</h3>
          	<h6> <%= @blog.count %></h6>
        	</div>
        </div>
      	</div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header pastel_colour_yellow" style="text-align:center;">
          <h2><%= @user.name %>'s Bloggoes</h2>
        </div>
        <div class="card-body">
        <% if @blog != nil && @blog.count != 0%>
          <table class="table">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Visits</th>
            </tr>
            <% @blog.each do |blog| %>
            <tr>
              <td><%= link_to blog.name, blog_path(blog) %></td>
              <td><%= blog.description %></td>
              <td><%= link_to blog.impressionist_count%></td>
            </tr>
            <% end %>
          </table>
      	  <div class="dropdown">
					  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><%= @filter %>
					  <span class="caret"></span></button>
					  <ul class="dropdown-menu">
					    <li> <%= link_to 'Newest'.html_safe, recent_user_path(@user) %></li>	
					  	<li> <%= link_to 'Most Visited'.html_safe, visited_user_path(@user) %></li>
	 				  </ul>
				  </div>
          <% if @blog.count > 5 %>
            <%= link_to '<button type="button" class="btn btn-primary">See all</button>'.html_safe, see_all_path(@user) %>
          <% end %>
          <% else %>
            <h3> No bloggoes found! </h3>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>