<div class="jumbotron">

  <%= form_with model: [ @blog, @post ], local: true do |form| %>

     <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:
        </h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-row" style="text-align: center;">

    	<div class="form-group col-md-4">
      	<%= form.label :title %><br>
      	<%= form.text_field :title %>
      </div>

      <div class="form-group col-md-4">
      	<%= form.label :subtitle %><br>
      	<%= form.text_field :subtitle %>
      </div>

      <div class="form-group col-md-4">
      	<%= form.label :tags %><br>
        <%= form.text_field :tag_list, value: form.object.tag_list.to_s %>
      	<small id="taggoesHelp" class="form-text text-muted">Tags must be separated by a comma.</small>
    	</div>
    </div>

    <div class="input-group" style="padding-top: 1%; margin-top: 1%; padding-bottom: 1%; margin-bottom: 1%;">
    	<%= form.text_area :content, class: "form-control" %>
    </div>

    <div class="custom-file"  style="padding-top: 1%; margin-top: 1%; padding-bottom: 1%; margin-bottom: 1%; width: 30%;">
      <%= form.file_field :image, class: "custom-file-input"  %>
      <label class="custom-file-label" for="post_image"><i class="fas fa-camera-retro"> Add Image</i></label>
    </div>


    <div class="form-group" style="text-align: center; padding-top:10px; margin-top:10px;">
      <%= form.submit :class => 'btn btn-primary' %>
    </div>
  <% end %>

  <script> 
    $(function() { $('#post_content').froalaEditor() });
    
    $('#post_content').froalaEditor({
      width: '100%'
    });


    $('#post_image').on('change', function(){
      $('.custom-file-label').html($('input[type=file]').val().replace(/C:\\fakepath\\/i, ''));
    });
  </script>

</div>