<%= form_with model: [ @blog, @post ], local: true do |form| %>

  <% if @post.errors.any? %>
    <script>
      $(document).ready(function(){$('#errorPostModal').modal();});
    </script>
  <% end %>

  <!-- Modal -->
  <div class="modal fade" id="errorPostModal" tabindex="-1" role="dialog" aria-labelledby="errorPostModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorPostModalTitle">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="error_explanation">
            <h2>
              <%= pluralize(@post.errors.count, "error") %> errors found:
            </h2>
            <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="tg-wrap">
    <table width="100%">
      <tr>
        <td align="left" valign="top">
          <div class="form-group">
            <%= form.label :title %><br>
            <%= form.text_field :title %>
          </div>
        </td>
        <td align="left" valign="top">
          <div class="form-group">
            <%= form.label :subtitle %><br>
            <%= form.text_area :subtitle, class: 'post-form-subtitle' %>
          </div>
        </td>
        <td colspan="2" align="right" valign="top">
          <div class="form-group">
            <%= form.label :tags %><br>
            <%= form.text_area :tag_list, value: form.object.tag_list.to_s, class: 'post-form-tag-list' %>
            <small id="taggoesHelp" class="form-text text-muted">Tags must be separated by a comma.</small>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4" align="center">
          <div class="input-group post-content-form-div">
            <%= form.text_area :content, class: "post-content-form" %>
          </div>
        </td>
      </tr>
      <tr>
        <td align="left">
          <div class="custom-file post-form-file">
            <%= form.file_field :file, class: "custom-file-input", 'aria-describedby' => "fileHelp", accept: 'image/png,image/gif,image/jpeg,image/jpg,video/mp4' %>
            <label class="custom-file-label" for="post_file">
              <% if @post.file.file.nil? %>
                <i class="fas fa-file-upload"></i> Add File
              <% else %>
                <% if @post.file.file.extension.downcase == 'mp4' %>
                  <i class="fas fa-file-video"></i> <%= @post.file.file.filename %>
                <% else %>
                  <i class="fas fa-file-image"></i> <%= @post.file.file.filename %>
                <% end %>
              <% end %>
            </label>
          </div>
          <small id="fileHelp" class="form-text text-muted post-form-file-helper">File must be 'jpeg', 'jpg', 'png', 'gif' or 'mp4'</small>
        </td>
        <td colspan="2" align="center">
          <%= video_tag('', width: '100px', id: 'videoPreview', style: 'display: none;') %>
          <%= image_tag('', width: '100px', id: 'imagePreview', style: 'display: none;') %>
          <%= form.check_box :remove_file, style: 'display: none;' %> <i class="text-muted" id="delete-icon" style="display: none;">Delete</i>
          <% if !@post.file.file.nil? %>
            <% if @post.file.file.extension.downcase == 'mp4' %>
              <script>
                $('#videoPreview').attr('src', '<%= @post.file.url %>');
                $('#videoPreview').css('display', '');
              </script>
            <% else %> 
              <script>
                $('#imagePreview').attr('src', '<%= @post.file.url %>');
                $('#imagePreview').css('display', '');
              </script>
            <% end %>
            <script>
              $('#post_remove_file').css('display', '');
              $('#delete-icon').css('display', '');
            </script>
          <% end %>
        <td>
          <div class="form-group post-form-buttons">
            <% if @post.id.present? %>
              <%= button_tag(type: 'submit', class: "btn btn-primary") do %><i class="fas fa-edit"></i> Update<% end %>
            <% else %>
              <%= button_tag(type: 'submit', class: "btn btn-primary") do %><i class="fas fa-check"></i> Publish<% end %>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
  </div>
<% end %>

<br/>

<script> 
  $(document).ready(function(){
    $('#post_content').froalaEditor({
      width: '100%',
      pastePlain: true,
      htmlAllowComments: false,
      htmlExecuteScripts: false
    });
  });

  $('#post_file').on('change', function(){
    var filename = $('input[type=file]').val().replace(/C:\\fakepath\\/i, '');
    var extension = filename.substr( (filename.lastIndexOf('.') +1) );
    switch(extension) {
        case '':
            $('.custom-file-label').html('<i class="fas fa-file-upload"></i> Add File');
        break;
        case 'jpeg':
        case 'jpg':
        case 'png':
        case 'gif':
            $('.custom-file-label').html('<i class="fas fa-file-image"></i> ' + filename);
        break;
        case 'mp4':
            $('.custom-file-label').html('<i class="fas fa-file-video"></i> ' + filename);
        break;
        default:
            $('.custom-file-label').html('<i class="fas fa-exclamation-triangle"></i> Extension not allowed!');
        break;
    }
  });

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        var src = e.target.result;
        var filename = input.files[0].name;
        var ext = filename.substr( (filename.lastIndexOf('.') +1) );

        if (ext == 'mp4') {
          $('#videoPreview').attr('src', src);
          $('#videoPreview').css('display', '');
          $('#imagePreview').attr('src', '');
          $('#imagePreview').css('display', 'none');
        }
        else if (['jpg', 'jpeg', 'png', 'gif'].includes(ext)) {
          $('#imagePreview').attr('src', src);
          $('#imagePreview').css('display', '');
          $('#videoPreview').attr('src', '');
          $('#videoPreview').css('display', 'none');

        }
        else {
          $('#imagePreview').attr('src', '');
          $('#imagePreview').css('display', 'none');
          $('#videoPreview').attr('src', '');         
          $('#videoPreview').css('display', 'none');
        }
        $('#post_remove_file').css('display', '');
        $('#post_remove_file').prop('checked', false);
        $('#delete-icon').css('display', '');
      }
      reader.readAsDataURL(input.files[0]);
    }
  };

  $('#post_remove_file').on('change', function() {
    if($('#post_remove_file').prop('checked')) {
      $('#imagePreview').attr('src', '');
      $('#imagePreview').css('display', 'none');
      $('#videoPreview').attr('src', '');         
      $('#videoPreview').css('display', 'none');
      $('#post_remove_file').css('display', 'none');
      $('#delete-icon').css('display', 'none');
      $('.custom-file-label').html('<i class="fas fa-file-upload"></i> Add File');
    }
  });

  $("#post_file").change(function () {
    readURL(this);
  });
</script>