<%= form_with model: [ @blog, @post ], local: true do |form| %>

  <% if @post.errors.any? %>
    <script>
      $(document).ready(function(){$('#errorPostModal').modal();});
    </script>
  <% end %>

  <!-- Modal -->
  <div class="modal fade" id="errorPostModal" tabindex="-1" role="dialog" aria-labelledby="errorPostModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorPostModalTitle">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="error_explanation">
            <h2>
              <%= pluralize(@post.errors.count, "error") %> errors found:
            </h2>
            <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="tg-wrap">
    <table width="100%">
      <tr>
        <td align="left" valign="top">
          <div class="form-group">
            <%= form.label :title %><br>
            <%= form.text_field :title %>
          </div>
        </td>
        <td align="left" valign="top">
          <div class="form-group">
            <%= form.label :subtitle %><br>
            <%= form.text_area :subtitle, class: 'post-form-subtitle' %>
          </div>
        </td>
        <td colspan="2" align="right" valign="top">
          <div class="form-group">
            <%= form.label :tag_list %><br>
            <%= form.text_area :tag_list, value: form.object.tag_list.to_s, class: 'post-form-tag-list' %>
            <small id="taggoesHelp" class="form-text text-muted">Tags must be separated by a comma.<br/>Leave <u>empty</u> for auto generated tags</small>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4" align="center">
          <div class="input-group post-content-form-div">
            <%= form.text_area :content, class: "post-content-form" %>
          </div>
          </td>
      </tr>
      <tr>
        <td align="left">
          <div class="custom-file post-form-file">
            <%= form.file_field :file, class: "custom-file-input", 'aria-describedby' => "fileHelp", accept: 'image/png,image/gif,image/jpeg,image/jpg,video/mp4' %>
            <label class="custom-file-label" for="post_file">
              <% if @post.file.file.nil? %>
                <i class="fas fa-file-upload"></i> Add File
              <% else %>
                <% if @post.file.file.extension.downcase == 'mp4' %>
                  <i class="fas fa-file-video"></i> <%= @post.file.file.filename %>
                <% else %>
                  <i class="fas fa-file-image"></i> <%= @post.file.file.filename %>
                <% end %>
              <% end %>
            </label>
          </div>
          <small id="fileHelp" class="form-text text-muted post-form-file-helper">File must be 'jpeg', 'jpg', 'png', 'gif' or 'mp4'</small>
        </td>
        <td colspan="2" align="center">
          <%= video_tag('', width: '100px', id: 'videoPreview', style: 'display: none;') %>
          <%= image_tag('', width: '100px', id: 'imagePreview', style: 'display: none;') %>
          <%= form.check_box :remove_file, style: 'display: none;' %> <i class="text-muted" id="delete-icon" style="display: none;">Delete</i>
          <% if !@post.file.file.nil? %>
            <% if @post.file.file.extension.downcase == 'mp4' %>
              <script>
                $('#videoPreview').attr('src', '<%= @post.file.url %>');
                $('#videoPreview').css('display', '');
              </script>
            <% else %>
              <script>
                $('#imagePreview').attr('src', '<%= @post.file.url %>');
                $('#imagePreview').css('display', '');
              </script>
            <% end %>
            <script>
              $('#post_remove_file').css('display', '');
              $('#delete-icon').css('display', '');
            </script>
          <% end %>
        <td>
          <div class="form-group post-form-buttons">
            <% if @post.id.present? %>
              <%= button_tag(type: 'submit', class: "btn btn-primary") do %><i class="fas fa-edit"></i> Update<% end %>
            <% else %>
              <%= button_tag(type: 'submit', class: "btn btn-primary") do %><i class="fas fa-check"></i> Publish<% end %>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
    <br />

  </div>
<% end %>

  <div class="row container-fluid" >
    <div id="pesdk" style="width: 100vmin; height: 75vmin; padding: 0px; margin: 0px; margin-bottom:10px"></div>
      <script>

      </script>
  </div>
    <br />
    <br />
      <div class="row container-fluid">
          <br />
          <h3> Search from Unsplash Website </h3>

          <%= form_tag(new_blog_post_url,:method => "get") do %>
          <%= text_field_tag :photo, params[:photo], placeholder: "Search images.." %>
          <%= submit_tag 'Search in Unsplash' %>
          <% end %>
      <div class="col-lg-4" >
        <br />
          <label class="image-checkbox" style="max-width: 30%">
            <%= image_tag show_photo1 %>
            <button id="link1" class="btn"><i class="fa fa-download" onclick="prova()"></i> Download</button>

        </label>
      </div>
      <div class="col-lg-4" >
        <br />
        <label class="image-checkbox" style="max-width: 30%">
            <%= image_tag show_photo2 %>
            <button id ="link2" class="btn"><i class="fa fa-download"></i> Download</button>

        </label>
      </div>
      <div class="col-lg-4">
        <br />
          <label class="image-checkbox" style="max-width: 30%">
            <%= image_tag show_photo3 %>
            <button id ="link3" class="btn"><i class="fa fa-download"></i> Download</button>

          </label>
      </div>
  </div>

<script>

window.onload = function () {
  license= ' {"owner":"Simone Silvestri","version":"2.1","enterprise_license":false,"available_actions":["magic","filter","transform","sticker","text","adjustments","brush","focus","frames","camera"],"features":["adjustment","filter","focus","overlay","transform","text","sticker","frame","brush","camera","textdesign","library","export"],"platform":"HTML5","app_identifiers":["127.0.0.1"],"api_token":"RwjrXpg8PWW9HjinvTG4jQ","domains":["https://api.photoeditorsdk.com"],"issued_at":1536084910,"expires_at":1538611200,"signature":"SEAHqGO4b6SDFIv9HlzdFT978B41nxa8HewfO9/Tov6E3ooLPAU7X843gFPhGGWEKAx6h8KqS6pPd6KPwT2JUMx8ryfMAdzPpRorwxdwNfywu238GezEN87NZhZUGQ6aUC2BmYs0MyoYhQ6chD6/JW8NUscbsr6s/L8vXpsJHQhYJC5A9xMPWqLK8s0XONcVqcyTVbkIGwoqKQg2Sre/tSvT3S3tz80YgQesoe4Jk80BD7MGujo2tJJUU/0U2hLT+oAvBZaA8SrTJXeY/FN2nNLxcj50SQJJiipjOpA0Nxx6dJA8ltzsOIAj32zdyCMquUun5opJ5xI+igNtA0oySkBTZMzxX8PUjB6bOXlJcoYp7sVwR5tzzW2jrfaCA3mVml9QYlmFtIhI2f4wMdZwjGATT5ayxkVnVGsNQ2+Nn1K5x5ozjjlf7uTIeIXoA0Iw0DBisOeI3xr4DdF9BwpieFSiOfS4qhuLnDDtAQyKfLBKDTuYo4pMBGD+WC8Q5+5egjCB5wMBW99FXvOzBxKme5NFclgoTCImzPteQvIbhQ9DUsXPQBcMhgcCbI8mrFejWCRhu93YY4duk/mfz+YjARu/2JFGO7aEPRuwedKZDnMKUQz5HtKMusCpYLnJM2m7dDhFOwu2NW6yGzcse6T5HULb5dZKqgY2A4keKQdScl8="}'
  var container = document.getElementById('pesdk')
  var editor = new PhotoEditorSDK.UI.ReactUI({
    container: container,
    license: license,
    assets: {
        baseUrl: '/assets', // => Matches default asset url for rails
        resolver: function (path) { return path }
  }
});
}
  function redirect1() {
    var url = '<%= getLink1 %>';
    window.open(url, 'download_window', 'toolbar=0,location=no,directories=0,status=0,scrollbars=0,resizeable=0,width=1,height=1,top=0,left=0');
  };
  function redirect2() {
    var url = '<%= getLink2 %>';
    window.open(url, 'download_window', 'toolbar=0,location=no,directories=0,status=0,scrollbars=0,resizeable=0,width=1,height=1,top=0,left=0');
  };
  function redirect3() {
    var url = '<%= getLink3 %>';
    window.open(url, 'download_window', 'toolbar=0,location=no,directories=0,status=0,scrollbars=0,resizeable=0,width=1,height=1,top=0,left=0');
  };

  document.getElementById('link1').addEventListener('click',redirect1);
  document.getElementById('link2').addEventListener('click',redirect2);
  document.getElementById('link3').addEventListener('click',redirect3);

  $(function() {
    $('#post_content').froalaEditor({
      width: '100%',
      pastePlain: true,
      htmlAllowComments: false,
      htmlExecuteScripts: false
    });
  });

  $('#post_file').on('change', function(){
    var filename = $('input[type=file]').val().replace(/C:\\fakepath\\/i, '');
    var extension = filename.substr( (filename.lastIndexOf('.') +1) );
    switch(extension) {
        case '':
            $('.custom-file-label').html('<i class="fas fa-file-upload"></i> Add File');
        break;
        case 'jpeg':
        case 'jpg':
        case 'png':
        case 'gif':
            $('.custom-file-label').html('<i class="fas fa-file-image"></i> ' + filename);
        break;
        case 'mp4':
            $('.custom-file-label').html('<i class="fas fa-file-video"></i> ' + filename);
        break;
        default:
            $('.custom-file-label').html('<i class="fas fa-exclamation-triangle"></i> Extension not allowed!');
        break;
    }
  });

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        var src = e.target.result;
        var filename = input.files[0].name;
        var ext = filename.substr( (filename.lastIndexOf('.') +1) );

        if (ext == 'mp4') {
          $('#videoPreview').attr('src', src);
          $('#videoPreview').css('display', '');
          $('#imagePreview').attr('src', '');
          $('#imagePreview').css('display', 'none');
        }
        else if (['jpg', 'jpeg', 'png', 'gif'].includes(ext)) {
          $('#imagePreview').attr('src', src);
          $('#imagePreview').css('display', '');
          $('#videoPreview').attr('src', '');
          $('#videoPreview').css('display', 'none');

        }
        else {
          $('#imagePreview').attr('src', '');
          $('#imagePreview').css('display', 'none');
          $('#videoPreview').attr('src', '');
          $('#videoPreview').css('display', 'none');
        }
        $('#post_remove_file').css('display', '');
        $('#post_remove_file').prop('checked', false);
        $('#delete-icon').css('display', '');
      }
      reader.readAsDataURL(input.files[0]);
    }
  };

  $('#post_remove_file').on('change', function() {
    if($('#post_remove_file').prop('checked')) {
      $('#imagePreview').attr('src', '');
      $('#imagePreview').css('display', 'none');
      $('#videoPreview').attr('src', '');
      $('#videoPreview').css('display', 'none');
      $('#post_remove_file').css('display', 'none');
      $('#delete-icon').css('display', 'none');
      $('.custom-file-label').html('<i class="fas fa-file-upload"></i> Add File');
    }
  });

  $("#post_file").change(function () {
    readURL(this);
  });
</script>
