<%= form_with model: [ @blog, @post ], local: true do |form| %>

  <% if @post.errors.any? %>
    <script>
      $(document).ready(function(){$('#errorPostModal').modal();});
    </script>
  <% end %>

  <!-- Modal -->
  <div class="modal fade" id="errorPostModal" tabindex="-1" role="dialog" aria-labelledby="errorPostModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorPostModalTitle">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="error_explanation">
            <h2>
              <%= pluralize(@post.errors.count, "error") %> errors found:
            </h2>
            <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="tg-wrap">
    <table width="100%">
      <tr>
        <td align="left" valign="top">
          <div class="form-group">
            <%= form.label :title %><br>
            <%= form.text_field :title %>
          </div>
        </td>
        <td align="left" valign="top">
          <div class="form-group">
            <%= form.label :subtitle %><br>
            <%= form.text_area :subtitle, class: 'post-form-subtitle' %>
          </div>
        </td>
        <td colspan="2" align="right" valign="top">
          <div class="form-group">
            <%= form.label :tags %><br>
            <%= form.text_area :tag_list, value: form.object.tag_list.to_s, class: 'post-form-tag-list' %>
            <small id="taggoesHelp" class="form-text text-muted">Tags must be separated by a comma.</small>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4" align="center">
          <div class="input-group">
            <%= form.text_area :content, class: "form-control" %>
          </div>
        </td>
      </tr>
      <tr>
        <td align="left">
          <div class="custom-file post-form-file">
            <%= form.file_field :file, class: "custom-file-input", 'aria-describedby' => "fileHelp" %>
            <label class="custom-file-label" for="post_file">
              <% if @post.file.file.nil? %>
                <i class="fas fa-file-upload"></i> Add File
              <% else %>
                <%= @post.file.file.filename %>
              <% end %>
            </label>
          </div>
          <small id="fileHelp" class="form-text text-muted post-form-file-helper">File must be 'jpeg', 'jpg', 'png', 'gif' or 'mp4'</small>
        </td>
        <td colspan="2" align="center">
          <div class="form-group post-form-buttons">
            <% if @post.id.present? %>
              <%= button_tag(type: 'submit', class: "btn btn-primary") do %><i class="fas fa-edit"></i> Update<% end %>
            <% else %>
              <%= button_tag(type: 'submit', class: "btn btn-primary") do %><i class="fas fa-check"></i> Publish<% end %>
            <% end %>
          </div>
        </td>
        <td>
          &nbsp;
        </td>
      </tr>
    </table>
  </div>
<% end %>

<br/>

<script> 
  $(document).ready(function(){
    $('#post_content').froalaEditor({
      width: '100%'
    });
  });

  $('#post_file').on('change', function(){
    var filename = $('input[type=file]').val().replace(/C:\\fakepath\\/i, '');
    var extension = filename.substr( (filename.lastIndexOf('.') +1) );
    switch(extension) {
        case 'jpeg':
        case 'jpg':
        case 'png':
        case 'gif':
            $('.custom-file-label').html('<i class="fas fa-file-image"></i> ' + filename);
        break;
        case 'mp4':
            $('.custom-file-label').html('<i class="fas fa-file-video"></i> ' + filename);
        break;
        default:
            $('.custom-file-label').html('<i class="fas fa-exclamation-triangle"></i> Extension not allowed!');
    }
  });
</script>