
	<div class="card" >
		<div class="card-body">
			<table width="100%">
				<tr>
					<th colspan="2" align="left" style="text-align: left;">
						<img src="<%= asset_path('favicon.png') %>" width="50px" height="50px" alt="Post image" style="border-radius: 50%;">
					</th>
					<th colspan="2" align="left" style="text-align: left;">
						<h5 class="card-title"><%= link_to post.title, blog_post_path(post.blog, post) %></h5>
					</th>
					<th align="right" style="text-align: right;">
						<%= render post.tags %>	
					</th>
				</tr>
				<tr>
					<td colspan="2">&nbsp;</td>
					<td colspan="2" align="left" style="text-align: left;">
						<h6 class="card-subtitle mb-2 text-muted"><%= post.subtitle %></h6>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					
					<td colspan="5" align="left" style="text-align: left;">
						<div class="fr-view"><%= raw post.content %></div>
					</td>
					
				</tr>
				<tr>
					<td><i class="fas fa-thumbs-up" style="color: green;"><%= post.get_upvotes.size %></i> <i class="fas fa-angry" style="color: red;"><%= post.get_downvotes.size%></i></td>
					<td colspan="2" align="left" style="text-align: left;">
						<%= link_to raw('<small class="text-muted"><i class="fas fa-comment"> Comments ').concat(post.comments.size.to_s).concat(raw('</i></small>')), blog_post_path(post.blog, post) %>
					</td>
					<td colspan="2" align="right" style="text-align: right;">
						<%= link_to raw('<i class="fas fa-trash-alt"></i>'), [post.blog, post], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
						<%= link_to raw('<i class="fas fa-edit"></i>'), edit_blog_post_path(post.blog, post), class: "btn btn-warning" %>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<script>
		 $(document).ready(function () { 
		 	$(".fr-view").each(function(i){
		 		var len=$(this).text().trim().length;
		 		if(len>100) {
		 			$(this).text($(this).text().substr(0,100)+'...');
		 		}
		 	});
		 });
	</script>
