<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= post.subtitle %></h6>
    <p class="card-text"><%= post.content %></p>
    <%= link_to 'Destroy Post', [post.blog, post],
               method: :delete,
               data: { confirm: 'Are you sure?' }, class: "card-link" %>
  </div>
</div>

<% if false %>
<h2>Comments</h2>
<%= render post.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
<% end %>
