<div class="card card-post-aux">
	<div class="card-body tg-wrap card-body-post-aux">
		<table class="table-post-aux">
			<tr>
				<td colspan="2" align="left"  valign="top">
					<% if post.user.avatar_image? %>
						<% if !post.user.avatar_image.thumb.nil? %>
							<%= image_tag(post.user.avatar_image.thumb.url, alt: post.user.username, class: 'image-link-aux') %>
						<% else %>
							<%= image_tag(post.user.avatar_image.url, alt: post.user.username, class: 'image-link-aux') %>
						<% end %>
					<% else %>
						<%= image_tag(asset_path('user-placeholder.jpeg'), alt: post.user.username, class: 'image-link-aux')  %>
					<% end %>
				</td>
				<td colspan="2" align="left" valign="center" class="post-title-aux">
					<h5 class="post-title"><%= link_to truncate(post.title, length: 20, omission: "..."), blog_post_path(post.blog, post), class: "post-link" %> <small class="text-muted text-small"> by </small>
						<% if post.user.username %>
							<%= link_to post.user.username, user_path(post.user), class: "post-link" %>
						<% else %>
							<%= link_to post.user.name, user_path(post.user), class: "post-link" %> 
						<% end %>
					</h5>
					<h6 class="text-muted post-subtitle"><%= truncate(post.subtitle, length: 25, omission: "...") %></h6>
				</td>
				<td align="right" valign="top" class="post-tags">
					<%= render post.tags %>
				</td>
			</tr>
			<tr>
				<td colspan="5">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="5" align="left" valign="center">
					<div class="fr-view post-content-aux">
						<%= 
							truncate(post.content.html_safe, 
							:length => 300, 
							:separator => '<a', 
	  						:omission => "... #{link_to 'Read more', blog_post_path(post.blog, post), class: 'post-link read-more'}".html_safe,
	  						:escape => false)
    					%>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="5">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2" align="left">
					<aside class="vote-count bind-<%= post.id %>">
						<%= link_to like_blog_post_path(post.blog, post), :remote => true, method: :put, class: 'vpos post-link' do %>
							<i class="fas fa-thumbs-up like"></i>
							<span class="vcount-<%= post.id %>"><small><%= post.get_upvotes.size %></small></span>
						<% end %>
						<%= link_to dislike_blog_post_path(post.blog, post), :remote => true, method: :put, class: 'npos post-link' do %>
							<i class="fas fa-angry angry"></i>
							<span class="ncount-<%= post.id %>"><small><%= post.get_downvotes.size %></small></span>
						<% end %>
					</aside>
					<%= audio_tag asset_path('vote.mp3'), autoplay: false, controls: false, id: 'audio-vote' %>
				</td>
				<td colspan="2" align="left" class="post-comment-counter-aux">
					<%= link_to raw('<small class="text-muted"><i class="fas fa-comment"></i> Comments ').concat(post.comments.size.to_s).concat(raw('</small>')), blog_post_path(post.blog, post), class: "post-link post-comment-counter" %>
				</td>
				<td colspan="1" align="right">
					<% if user_signed_in? %>
						<% if current_user == post.user %>
							<div class="btn-group dropup">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
								<div class="dropdown-menu">
									<%= link_to raw('<i class="fas fa-trash-alt"></i> Delete'), [post.blog, post], method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
									<%= link_to raw('<i class="fas fa-edit"></i> Edit'), edit_blog_post_path(post.blog, post), class: "dropdown-item" %>
								</div>
							</div>
						<% elsif (post.blog.user == current_user) || (!post.blog.editors.nil? && post.blog.editors.include?(current_user.id.to_s)) || (current_user.admin?) %>
							<div class="btn-group dropup">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
								<div class="dropdown-menu">
									<%= link_to raw('<i class="fas fa-trash-alt"></i> Delete'), [post.blog, post], method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
								</div>
							</div>
						<% end %>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
</div>
