<div class="container">
	<div class="jumbotron">
		<table width="100%">
			<tr>
				<td rowspan="2" width="70%" valign="top">
					<div class="card" style="padding: 10px;" id="post_card">
						<table width="100%" align="center">
							<tr>
								<td colspan="4" align="left" valign="top">
									<% if false %>
										<%= image_tag(@post.blog.image.url, alt: @post.blog.image.identifier, width: '30px', style: "border-radius: 50%;") if @post.blog.image? %>
									<% end %>

									<%= image_tag(@post.user.avatar_image.url, alt: @post.user.avatar_image.identifier, width: '30px', style: "border-radius: 50%;") if @post.user.avatar_image? %>
									<%= @post.title %>
									<small class="text-muted"> posted on </small>
									<%= link_to @post.blog.name, blog_path(@post.blog) %>
									<small class="text-muted"> by </small>
									<%= link_to @post.user.name, user_path(@post.user) %>
									<small class="text-muted"> &#8226; <%= time_ago_in_words(@post.created_at) %> ago</small>
								</td>
								<td align="right" valign="top">
									<% if current_user == @post.user %>
										<div class="dropdown">
											<a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
											<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
												<%= link_to raw('<i class="fas fa-trash-alt"></i> Delete'), [@post.blog, @post], method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>  
												<%= link_to raw('<i class="fas fa-edit"></i> Edit'), edit_blog_post_path(@post.blog, @post), class: "dropdown-item" %>
											</div>
										</div>
									<% end %>
								</td>
							</tr>
							<tr>
								<td colspan="5" align="center">
									<%= image_tag(@post.image.url, alt: @post.image.identifier, width: '100%', style: "padding: 1%;") if @post.image? %>
								</td>
							</tr>
							<tr>
								<td colspan="3" align="left">
									<h6 class="card-subtitle mb-2 text-muted"><%= @post.subtitle %></h6>
								</td>
								<td colspan="2" align="right">
									<%= render @post.tags %>
								</td>
							</tr>
							<tr>
								<td colspan="3" rowspan="2" align="left">
									<div class="fr-view"><%= @post.content.html_safe %></div>
								</td>
								<td colspan="2" rowspan="2" align="right">
									&nbsp;
								</td>
							</tr>
							<tr>
							</tr>
							<tr>
								<td align="left">
									<%= link_to like_blog_post_path(@post.blog, @post), method: :put do %>
								    	<i class="fas fa-thumbs-up like"></i><small><%= @post.get_upvotes.size %></small>
							    	<% end %>
									<%= link_to dislike_blog_post_path(@post.blog, @post), method: :put do %>
										<i class="fas fa-angry angry"></i><small><%= @post.get_downvotes.size %></small>
									<% end %>
								</td>
								<td align="left">
									<small class="text-muted"><i class="fas fa-comment"></i> Comments <%= @post.comments.size.to_s %></small>
								</td>
								<td colspan="3" align="right">
								</td>
							</tr>
						</table>

						<% if user_signed_in? %>
							<div style="display: block; margin-top: 1%;">
								<%= render partial: 'comments/form_new' %>
							</div>
						<% end %>

					  	<div style="display: block; margin-top: 2%;">
							<%= render @post.comments %>
						</div>
						<% if false %>
							<% if user_signed_in? %>
								<p align="center">
									<%= link_to raw('<i class="fas fa-pen-alt"> Comment</i>'), new_blog_post_comment_path(@post.blog, @post), class: "btn btn-info", style: "margin: 5px;" %>
								</p>
							<% end %>
						<% end %>
					</div>
				</td>
				<td valign="top" width="30%">
					<div class="card" id="user_card" style="padding: 5%;">
						<div class="tg-wrap">
							<table>
								<tr>
									<td>
										<%= image_tag(@post.user.avatar_image.url, alt: @post.user.avatar_image.identifier, width: '30px', style: "border-radius: 50%;") if @post.user.avatar_image? %>
										<small class="card-title"><%= link_to raw(@post.user.name + "&nbsp;" + @post.user.surname), user_path(@post.user) %></small>
									</td>
								</tr>
								<tr>
									<td>
										<small class="card-subtitle mb-2 text-muted"><%= @post.user.posts.size %> Post</small>
									</td>
								</tr>
								<tr>
								    <td>
								    	<p class="card-text" style="font-size: 14px;">
								    		<%= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ullamcorper augue ut imperdiet vehicula. Sed felis leo, consequat sit amet malesuada et, commodo vitae quam." %>
								    	</p>
								    </td>
								</tr>
							</table>
						</div>
					</div>
					<div id="related_post" style="margin-top: 5%;">
						<small>Related Posts</small>
						<div style="font-size: 70%;" id="related_posts"><%= render @related_posts %></div>
					</div>
				</td>
			</tr>
		</table>

		<% if false %>
			<p style="display: block;">
				<%= link_to raw('<i class="fas fa-caret-left"> Back</i>'), blog_path(@post.blog), class: "btn btn-dark", style: "margin: 5px;" %>
			</p>
		<% end %>

	</div>
</div>