<script>
	$("head").append('<meta property="og:url"				content="<%= request.original_url %>" />');
	$("head").append('<meta property="og:type"				content="website" />');
	$("head").append('<meta property="og:title"				content="<%= @post.title %>" />');
	$("head").append('<meta property="og:description"		content="<%= @post.subtitle %>" />');
	<% if @post.file.file.nil? %>
		$("head").append('<meta property="og:image"			content="<%= request.protocol + request.host_with_port + asset_path('favicon.png') %>" />');
	<% else %>
		$("head").append('<meta property="og:image"			content="<%= request.protocol + request.host_with_port + @post.file.url %>" />');
	<% end %>
</script>

<div id="fb-root"></div>
<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v3.1&appId=849655068560418';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<div class="container">
	<div class="jumbotron">
		<table class="table-post-show">
			<tr>
				<td rowspan="2" class="post-td" valign="top">
					<div class="card post-card">
						<table class="post-table" align="center">
							<tr>
								<td colspan="4" align="left" valign="top" class="post-title-td">
									<% if @post.user.avatar_image? %>
										<%= image_tag(@post.user.avatar_image.url, alt: @post.user.avatar_image.identifier, class: "image-link") %>
									<% else %>
										<%= image_tag(asset_path('user-placeholder.jpeg'), alt: @post.user.name, class: "image-link") %>
									<% end %>
									<strong class="post-title"><%= @post.title %></strong>
									<small class="text-muted text-small"> posted on </small>
									<%= link_to @blog.name, blog_path(@blog), class: "post-link" %>
									<small class="text-muted text-small"> by </small>
									<% if @post.user.username %>
										<%= link_to @post.user.username, user_path(@post.user), class: "post-link" %>
									<% else %>
										<%= link_to @post.user.name, user_path(@post.user), class: "post-link" %> 
									<% end %>
									<small class="text-muted text-small"> &#8226; <%= time_ago_in_words(@post.created_at) %> ago</small>
								</td>
								<td align="right" valign="top">
									<% if user_signed_in? %>
										<% if current_user == @post.user %>
											<div class="dropdown">
												<a class="dropdown-toggle" id="dropdownMenuSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuSettings">
													<%= link_to raw('<i class="fas fa-trash-alt"></i> Delete'), [@post.blog, @post], method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>  
													<%= link_to raw('<i class="fas fa-edit"></i> Edit'), edit_blog_post_path(@post.blog, @post), class: "dropdown-item" %>
												</div>
											</div>
										<% elsif (@blog.user == current_user) || (@blog.editors == current_user.id) || (current_user.admin?) %>
											<div class="dropdown">
												<a class="dropdown-toggle" id="dropdownMenuSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuSettings">
													<%= link_to raw('<i class="fas fa-trash-alt"></i> Delete'), [@post.blog, @post], method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
												</div>
											</div>
										<% end %>
									<% end %>
								</td>
							</tr>
							<tr>
								<td colspan="5" align="center">
									<% if @post.file.file.nil? %>
										<br/>
									<% else %>
										<% if @post.file.file.extension.downcase == 'mp4' %>
											<%= video_tag(@post.file.url, controls: true, autobuffer: true, class: 'post-file')  %>
										<% else %>
											<%= image_tag(@post.file.url, alt: @post.file.identifier, class: 'post-file') %>
										<% end %>
									<% end %>
								</td>
							</tr>
							<tr>
								<td colspan="3" align="left">
									<h6 class="card-subtitle post-subtitle mb-2 text-muted"><%= @post.subtitle %></h6>
								</td>
								<td colspan="2" align="right" class="post-tags">
									<%= render @post.tags %>
								</td>
							</tr>
							<tr>
								<td colspan="3" rowspan="2" align="left">
									<div class="fr-view post-content"><%= @post.content.html_safe %></div>
								</td>
								<td colspan="2" rowspan="2" align="right">
									&nbsp;
								</td>
							</tr>
							<tr>
							</tr>
							<tr valign="top" class="post-stats">
								<td align="left">
									<aside class="vote-count bind-<%= @post.id %>">
										<%= link_to like_blog_post_path(@blog, @post), :remote => true, method: :put, class: 'vpos post-link' do %>
											<i class="fas fa-thumbs-up like"></i>
											<span class="vcount-<%= @post.id %>"><small><%= @post.get_upvotes.size %></small></span>
										<% end %>
										<%= link_to dislike_blog_post_path(@blog, @post), :remote => true, method: :put, class: 'npos post-link' do %>
											<i class="fas fa-angry angry"></i>
											<span class="ncount-<%= @post.id %>"><small><%= @post.get_downvotes.size %></small></span>
										<% end %>
									</aside>
									<%= audio_tag asset_path('vote.mp3'), autoplay: false, controls: false, id: 'audio-vote' %>
								</td>
								<td align="left">
									<small class="text-muted"><i class="fas fa-comment"></i> Comments <%= @post.comments.size.to_s %></small>
								</td>
								<td colspan="2" align="right">
									<small class="text-muted"><i class="fas fa-eye"></i> <%= @post.impressions_count %> Views </small>
								</td>
								<td align="right" class="post-share-buttons" >
									<div class="g-plus" data-action="share" data-href="<%= request.original_url %>" data-annotation="none" ></div>
									<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Condividi</a></div>						
								</td>
							</tr>
							<tr>
								<td colspan="5" align="center" class="favourite">
									<% if user_signed_in? %>
										<% if current_user.favorited?(@post) %>
											<%= link_to unfavourite_blog_post_path(@blog, @post), method: :get, remote: true, class: 'unfavourite-post' do %>
												<i class="far fa-heart post-favourite"></i>
											<% end %>
										<% else %>
											<%= link_to favourite_blog_post_path(@blog, @post), method: :get, remote: true, class: 'favourite-post' do %>
												<i class="fas fa-heart post-favourite"></i>
											<% end %>
										<% end %>
									<% end %>	
								</td>
							</tr>
						</table>

						<% if user_signed_in? %>
							<div class="comments-form-new">
								<%= render partial: 'comments/form_new' %>
							</div>
						<% end %>

					  	<div class="comments-show">
					  		<% if @post.comments.size > 0 %>
					  			<hr>
								<%= nested_comments @post.comments.arrange(:order => :created_at) %>
							<% end %>
						</div>
					</div>
				</td>
				<td valign="top" class="blog-td">
					<div class="card blog-card" id="blog_card">
						<div class="tg-wrap">
							<table class="blog-table">
								<tr>
									<td colspan="2">
										<% if @blog.profile? %>
											<%= image_tag(@blog.profile.url, alt: @blog.profile.identifier, class: "image-link") %>
										<% else %>
											<%= image_tag(asset_path('user-placeholder.jpeg'), alt: @blog.name, class: "image-link") %>
										<% end %>
										<small class="card-title">
											<%= link_to @blog.name, blog_path(@blog), class: "post-link" %>
										</small>
									</td>
								</tr>
								<tr align="center" class="text-small">
									<td>
										Followers
									</td>
									<td>
										Posts
									</td>
								</tr>
								<tr align="center">
									<td>
										<small class="card-subtitle mb-2 text-muted text-small"><i class="fas fa-users"></i> <%= @blog.followers_count %></small>
									</td>
									<td>
										<small class="card-subtitle mb-2 text-muted text-small"><i class="fas fa-newspaper"></i> <%= @blog.posts.size %></small>
									</td>
								</tr>
								<tr>
								    <td colspan="2">
								    	<p class='blog-description'><i class="fas fa-angle-double-right"></i> <%= @blog.description %></p>
								    </td>
								</tr>
							</table>
						</div>
					</div>
					<div id="related_posts" class="related-posts">
						<% if @related_posts.size > 0 %>
							<small class="text-muted related-posts-title">Related Posts</small>
							<div class="related-posts-show"><%= render @related_posts %></div>
						<% end %>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>