<div class="container">
	<div class="jumbotron">

		<table>
			<tr>
				<td rowspan="2" width="70%">
					<div class="card" style="padding: 5px;">
						<table width="100%" align="center" >
							<tr>
								<td colspan="5" align="left">
									<img src="<%= asset_path('favicon.png') %>" width="30px" height="30px" alt="Avatar image" style="border-radius: 50%;">
									<%= @post.title %>
									<small class="text-muted"> posted on </small>
									<%= link_to @post.blog.name, blog_path(@post.blog) %>
									<small class="text-muted"> by </small>
									<%= link_to @post.user.email, user_path(@post.blog.user) %>
									<small class="text-muted"> &#8226; <%= time_ago_in_words(@post.created_at) %></small>
								</td>
							</tr>
							<tr>
								<td colspan="5" align="center">
									<img class="card-img-top" src="<%= asset_path('favicon.png') %>" height="50%" alt="Post image">
								</td>
							</tr>
							<tr>
								<td colspan="3" align="left">
									<h6 class="card-subtitle mb-2 text-muted"><%= @post.subtitle %></h6>
								</td>
								<td colspan="2" align="right">
									<%= render @post.tags %>
								</td>
							</tr>
							<tr>
								<td colspan="3" rowspan="2" align="left">
									<div class="fr-view"><%= raw @post.content %></div>
								</td>
								<td colspan="2" rowspan="2" align="right">
									&nbsp;
								</td>
							</tr>
							<tr>
							</tr>
							<tr>
								<td align="left">
									<%= link_to like_blog_post_path(@post.blog, @post), method: :put, style: "color: green;" do %>
								    	<i class="fas fa-thumbs-up"><%= @post.get_upvotes.size %></i>
							    	<% end %>
									<%= link_to dislike_blog_post_path(@post.blog, @post), method: :put, style: "color: red;" do %>
										<i class="fas fa-angry"><%= @post.get_downvotes.size %></i>
									<% end %>
								</td>
								<td align="left">
									<small class="text-muted"><i class="fas fa-comment"></i> Comments <%= @post.comments.size.to_s %> </small>
								</td>
								<td colspan="3" align="right">
									<%= link_to raw('<i class="fas fa-trash-alt"></i>'), [@post.blog, @post], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", style: "margin:5px;" %>  
							    	<%= link_to raw('<i class="fas fa-edit"></i>'), edit_blog_post_path(@post.blog, @post), class: "btn btn-warning", style: "margin:5px;" %>
								</td>
							</tr>
						</table>

					  	<div style="display: block;">
							<%= render @post.comments %>
						</div>

						<p align="center">
							<%= link_to raw('<i class="fas fa-pen-alt"> Comment</i>'), new_blog_post_comment_path(@post.blog, @post), class: "btn btn-info", style: "margin: 5px;" %>
						</p>

					</div>
				</td>
				<td valign="top" width="30%">
					<div class="card">
						<div class="card-body">
							<img src="<%= asset_path('favicon.png') %>" width="25px" height="25px" alt="Avatar image" style="border-radius: 50%; display: inline-block;">
							<small class="card-title" style="display: inline-block;"><%= link_to @post.user.email, user_path(@post.user) %></small>
							<small class="card-subtitle mb-2 text-muted" style="display: block;"><%= @post.user.posts.size %> Post</small>
							<p class="card-text" style="font-size: 14px;"><%= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ullamcorper augue ut imperdiet vehicula. Sed felis leo, consequat sit amet malesuada et, commodo vitae quam." %></p>
						</div>
					</div>
					<div id="related_post" style="margin-top: 5%;">
						<small>Related Posts</small>
						<div style="font-size: 70%;"><%= render @related_posts %></div>
					</div>
				</td>
			</tr>
		</table>

		<p style="display: block;">
			<%= link_to raw('<i class="fas fa-caret-left"> Back</i>'), blog_path(@post.blog), class: "btn btn-dark", style: "margin: 5px;" %>
		</p>

	</div>
</div>