<html>
  <head>
    <title>Bloggo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>

  <body>

    <nav class="navbar navbar-dark pastel_colour_navbar" >
      <%= link_to 'Bloggo', root_path, class: "navbar-brand", style: "colour= black;" %>

      <%= form_tag(blogs_path, {class: 'form-inline', method: :get}) do %>
      	<%= text_field_tag :blog, nil, placeholder: 'Search Bloggoes', class: "form-control mr-sm-2" %>
      	<%= submit_tag 'Search', class: "btn my-2 my-sm-0" %>
      <% end %>

      <form class="form-inline">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <%= link_to '<button type="button" class="btn btn-danger btn-sm"> Admin Panel </button>'.html_safe, admin_panel_index_path %> &nbsp;
          <% end %>
          <div style="font-size:18px;">
            <img style="border-radius:60%; width:50px; height:50px; object-fit:cover;"
             src="<% if current_user.avatar_image? %>
                    <%= current_user.avatar_image %>
                  <% else %>
                    <%= asset_path('user-placeholder.jpeg') %>
                  <% end %>" />
              <% if current_user.username? %>
                <%= current_user.username %> &nbsp;
              <% else %>
                <%= current_user.name %> <%= current_user.surname %> &nbsp;
              <%end%>

          </div>
          <div>
           <%= link_to '<button type="button" class="btn btn-outline-primary id="profilepage"> Profile Page </button>'.html_safe, users_url, id: 'profilepage' %>
         </div>&nbsp;
          <%= link_to '<button type="button" class="btn btn-outline-primary">Logout</button>'.html_safe, destroy_user_session_path, :method=>'delete'%>
        <% else %>
            <%= link_to '<button type="button" class="btn btn-outline-primary">Login</button>'.html_safe, "#loginModal", "data-toggle" => "modal" %>
            <!-- LOGIN BUTTON WITHOUT MODAL <%= link_to '<button type="button" class="btn btn-success">Login</button>'.html_safe, new_user_session_path %> -->
            &nbsp;<%= link_to '<button type="button" class="btn btn-outline-primary">Sign Up</button>'.html_safe, new_user_registration_path %>
            <!-- SIGNUP WITH MODAL <%= link_to '<button type="button" class="btn btn-outline-light">Sign Up</button>'.html_safe, "#signupModal", "data-toggle" => "modal"  %> -->
          <% end %>
      </form>
    </nav>

    <div class="modal" id="loginModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render "devise/sessions/new" %>
          </div>
        </div>
      </div>
    </div>
     <div class="h2 text-danger" style="text-align:center;">
      <%= alert %>
    </div>
    <%= yield %>

    <!-- Footer -->
    <footer class="footer pastel_colour_footer">
      <div class="container">
        <div id="social">
          <a class="facebookBtn smGlobalBtn" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
          <a class="twitterBtn smGlobalBtn" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
          <a class="googleplusBtn smGlobalBtn" href="https://plus.google.com/"><i class="fab fa-google-plus-g"></i></a>
          <a class="linkedinBtn smGlobalBtn" href="https://it.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
          <a class="pinterestBtn smGlobalBtn" href="https://www.pinterest.it/"><i class="fab fa-pinterest-p"></i></a>
        </div>
        <hr>
        <span class="copyright">2018 Copyright &copy; <a href="http://localhost:3000/">Bloggo</a></span>
      </div>
    </footer>
  </body>
</html>
