<!DOCTYPE html>
<html>
  <head>
    <title>Bloggo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/css/froala_style.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <!-- Include external JS libs. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/js/froala_editor.pkgd.min.js"></script>

    <nav class="navbar navbar-dark bg-primary" >
      <%= link_to 'Bloggo', blogs_path, class: "navbar-brand" %>

      <%= form_tag(blogs_path, {class: 'form-inline', method: :get}) do %>
      	<%= text_field_tag :blog, nil, placeholder: 'Search Bloggoes', class: "form-control mr-sm-2" %>
      	<%= submit_tag 'Search', class: "btn my-2 my-sm-0" %>
      <% end %>

      <form class="form-inline">
        <% if user_signed_in? %>
          <div>
            Hello, <%= current_user.email %> &nbsp;
          </div>
          <div>
           <%= link_to '<button type="button" class="btn btn-success"> Profile Page </button>'.html_safe, users_url %>
         </div>&nbsp;
          <%= link_to '<button type="button" class="btn btn-success">Logout</button>'.html_safe, destroy_user_session_path, :method=>'delete'%>
        <% else %>
            <%= link_to '<button type="button" class="btn btn-outline-light">Login</button>'.html_safe, "#loginModal", "data-toggle" => "modal" %>
            <!-- LOGIN BUTTON WITHOUT MODAL <%= link_to '<button type="button" class="btn btn-success">Login</button>'.html_safe, new_user_session_path %> -->
            <!-- SIGNUP WITHOUT MODAL <%= link_to '<button type="button" class="btn btn-secondary">Sign Up</button>'.html_safe, new_user_registration_path %> -->
            &nbsp;<%= link_to '<button type="button" class="btn btn-outline-light">Sign Up</button>'.html_safe, "#signupModal", "data-toggle" => "modal"  %>
          <% end %>
      </form>
    </nav>
    <div class="modal" id="loginModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render "devise/sessions/new" %>

          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="signupModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Signup</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render "devise/registrations/new" %>
          </div>
        </div>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
